.vegan {
  background: url('../images/vegany.jpg');
  background-size: cover;
  background-position: center;
  min-height: 300px;
  width: 100%;
}

.bowl {
  background: url('../images/bowl-icon.svg');
  background-size: cover;
  background-position: center;
  min-height: 20px;
  width: 100%;
}

.burger {
  background: url('../images/burger.png');
  background-size: cover;
  background-position: center;
  min-height: 20px;
  width: 100%;
}

.gachi {
  background: url('../images/gachi_leto.gif');
  background-size: cover;
  background-position: center;
  min-height: 20px;
  width: 100%;
}